<form action="/" method="POST" id="form">
    <textarea type="text" name="post" rows="2" placeholder="write something ..."></textarea>
    <!-- <input type="text" name="post" value="" placeholder="write something" required> -->
    <div class="attachments">
        <ul>
            <li>
               <button type="submit">Publish</button>
            </li>
        </ul>
    </div>
</form>