<form action="/comment" method="post" id="form">
    <textarea type="text" name="comment" rows="1" placeholder="Post your comment"></textarea>

               <button type="submit" style="background-color: #336ce6;">Post</button>


</form>