<% for(var i = 1; i >= 0 ; i--) { %>
<li>
    <div class="comet-avatar">
        <img src="/images/log2.jpg" alt="">
    </div>
    <div class="we-comment">
        <div class="coment-head">
            <h5><a href="time-line.html" title="">Donald Trump</a></h5>
            <span>1 week ago</span>
            <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
        </div>
        <p>helo kjf iwef efiq wefuqwhefiqhw euifhqewuifiqur fierfiqu
            <i class="em em-smiley"></i>
        </p>
    </div>
</li>
<% } %>