<%- include('includes/_header')%>
	<main>
		<div class="gap gray-bg">
			<div class="container">
					<div class="row merged20" id="page-contents">
						<div class="col-md-2"></div>
							<div class="col-md-8">
								<!-- video  -->

								<!-- <div class="central-meta item">
									<div class="user-post">
										<div class="friend-info">
											<div class="friend-name">
												<div class="more">
													<a href="/video-chat" class="btn btn-primary" style="background: #088dcd; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">
														<i class="fa fa-video-camera"></i> Start Anonymous Video Chat
													</a>
												</div>
											</div>
										</div>
									</div>
								</div> -->

								
								<div class="central-meta new-pst item">
									<div class="new-postbox">
										<figure>
											<img src="/images/log-modified.jpg" alt="">
										</figure>
										<div class="newpst-input">
											<%- include('includes/_form1')%>
										</div>
									</div>
								</div><!-- add post new box -->
								   <!-- <div class="loadMore"> -->
				
										<%- include('includes/_posts')%>

									<!-- <div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="/images/logo.jpg" alt="">
												</figure>
												<div class="friend-name">
													<ins><a href="time-line.html" title="">Janice Griffith</a></ins>
													<span>published: june,2 2018 19:PM</span>
												</div>
												<div class="post-meta">
													  <img src="/images/resources/comet-1.jpg" alt="">  
													
													<div class="description">
														
														<p>
															Curabitur world's most beautiful car in <a href="#" title="">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
														</p>
													</div>
													<div class="we-video-info">
														<ul>
															
														
															<li>
																<span class="comment" data-toggle="tooltip" title="Comments">
																	<i class="fa fa-comments-o"></i>
																	<ins>52</ins>
																</span>
															</li>
															
															
														</ul>
													</div>
												</div>
											</div>
											<div class="coment-area">
												<ul class="we-comet">
													<li>
														<div class="comet-avatar">
															<img src="/images/logo.jpg" alt="">
														</div>
														<div class="we-comment">
															<div class="coment-head">
																<h5><a href="time-line.html" title="">Jason borne</a></h5>
																<span>1 year ago</span>
																<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
															</div>
															<p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>
														</div>
													</li>
													<li>
														<div class="comet-avatar">
															<img src="/images/logo.jpg" alt="">
														</div>
														<div class="we-comment">
															<div class="coment-head">
																<h5><a href="time-line.html" title="">Donald Trump</a></h5>
																<span>1 week ago</span>
																<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
															</div>
															<p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel
																<i class="em em-smiley"></i>
															</p>
														</div>
													</li>
													<li>
														<a href="#" title="" class="showmore underline">more comments</a>
													</li>
													<li class="post-comment">
														<div class="comet-avatar">
															<img src="/images/logo.jpg" alt="">
														</div>
														<div class="post-comt-box">
															
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div> -->
							</div>
						<div class="col-md-2"></div>
					</div>	
			</div>
		</div>	
	</main>

	
	<!-- <div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Winku 2018. All rights reserved.</span>
				</div>
			</div>
		</div>
	</div> -->
</div>
	
	<!-- <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/main.min.js"></script>
	<script src="assets/js/script.js"></script> -->
	<script>
		function dopost(form){
			var ajax = new XMLHttpRequest();
			ajax.open("POST","/addpost",true);
			ajax.onreadystatechange=function() {
				if(this.readyState==4 && this.status==200){
					var response=JSON.parse(this.responseText);
					alert(response.message);
					if(response.status=="success"){
						document.getElementById("form-add-post").querySelector("textarea[name='caption']").value="";
                        showfeed();
					}
				}
			};
			var formdata=new FormData(form);
			// formdata.append
			ajax.send(formdata);
			return false;
		}
        function showfeed() {
            var ajax = new XMLHttpRequest();
			ajax.open("POST","/getfeed",true);
			ajax.onreadystatechange=function() {
				if(this.readyState==4 && this.status==200){
					var response=JSON.parse(this.responseText);
                    var html="";
					for(var a=0;a<response.data.length;a++){ 
                        var data=response.data[a];
                        html+= '<div class="central-meta item">';
								html+=	'<div class="user-post">';
                                    html+=	'<div class="friend-info">';
                                        html+=	'<figure>';
                                            html+=	'<image src="/images/resources/friend-avatar10.jpg" alt="">';
                                                html+=	'</figure>';
                                                html+=	'<div class="friend-name">';
                                                    html+=	'<ins><a href="time-line.html" title="">Janice Griffith</a></ins>';
                                                    html+=	'<span>published: june,2 2018 19:PM</span>';
                                                    html+='</div>';
                                                    html+='<div class="description">';
                                                        html+=	'<p>';
                                                            html+=	  data.caption;
                                                            html+=	   '</p>';
                                                        html+='</div>';
                                                        html+='</div>';
                                                        html+='</div>';
                    } 
                    document.getElementById("feed").innerHTML=html;
				}
			};
			var formdata=new FormData();
			// formdata.append
			ajax.send(formdata);
        }
	</script>
<%- include("includes/_footer") %>